!!! Strict
%table.jeopardy{:id => "id-quiz-round-1"}
  %tr.categories
    - @genres.each do |genre|
      %td
        = genre
  - q=0
  - 5.times do |i|
    %tr
      - 6.times do
        - question_path = question_path(@round.questions[q])
        - question_id = @round.questions[q].id
        %td{:onclick => "ShowQuestion('#{question_path}')"}
          %span{:id => "id-question-#{question_id}"}
            = "$#{(i+1)*100}"
        - q+=1
#reply
  
