!!! Strict
%table{:id => "id-quiz-round-1"}
  %tr
    - @genres.each do |genre|
      %td
        = genre
  - q=0
  - 5.times do |i|
    %tr
      - 6.times do
        %td
          - question_path = question_path(@round.questions[q])
          - question_id = @round.questions[q].id
          %span{:id => "id-question-#{question_id}",:onclick => "ShowQuestion(this,'#{question_path}')"}
            = "$#{(i+1)*100}"
        - q+=1
#reply
  
