!!! Strict
%h1
%table.jeopardy{:id => "id-quiz-round-1"}
  %tr.categories
    - categories = Array.new
    - @round.questions.each do |question|
      - if ! categories.include?(question.category)
        - categories << question.category
    - categories.each do |category|
      %td
        = category
  - diff=0
  - @round.category_count.times do
    - categ=0
    %tr
      - @round.questions_per_category.times do
        - question=@round.questions.select{|q| q.category==categories[categ] && q.difficulty==diff}[0]
        - question_path = question_path(question)
        - question_id = question.id
        %div
          %td{:id => "questionbox-#{question_id}", :onclick => "ShowQuestion('#{question_path}')"}
            %span
              %span{:id => "id-question-#{question_id}"}
                = "$#{(diff+1)*100}"
          - categ+=1
    - diff+=1
#reply
