!!! Strict
%h1
%table.jeopardy{:id => "id-quiz-round-1"}
  %tr.categories
    - @round.categories.each do |category|
      %td
        = category.name
  - @round.questions_per_category.times do |diff|
    %tr
      - @round.category_count.times do |categ|        
        - question=@round.questions.select{|q| q.category.name==@round.categories[categ].name && q.difficulty==diff}[0]
        - question_path = question_path(question)
        - question_id = question.id
        %div
          %td{:id => "questionbox-#{question_id}", :onclick => "ShowQuestion('#{question_path}')"}
            %span
              %span{:id => "id-question-#{question_id}"}
                = "$#{(diff+1)*100}"
#reply
