!!! Strict
%header
  = link_to logo, root_path 
  .menu.top-menu
    %ul
      %li
        = link_to "Help", help_path
      %li
        = link_to "Sign out", signout_path
      %li
        = link_to "Sign in", signin_path
      %li.r
        = link_to "Rounds", rounds_path
